<div id="Nastya">
	<div class="content-in-progr">
		<h1 class="content-in-progr__header">In progress</h1>
		<span class="counter"></span>
		<div class="content-in-progr__wrapper">

			<ul id="mymenu" class="content-in-progr__todolist block selected">
				<li class="content-in-progr__todolist"><span class="trash">Some
						text...</span><i class="fas fa-check-double"></i></i><i class="fas fa-trash-alt"></i></li>
			</ul>
			<div class="content-in-progr__btn-wraper">

				<button class="content-in-progr__btn">
					<i class="fas fa-plus"></i></button>

				<button id="btnclearall" class="content-in-progr__btn--clearall delete">Clear all</button>
			</div>

		</div>
	</div>

	<div id="alert" class="alert hidden">
		<p class="alert-description">Delete all?</p>
		<button id="no">No</button>
		<button id="yes">Yes</button>
	</div>

	<div id="alert2" class="alert2 hidden">
		<p class="alert-description">Please,complete the task</p>
		<button id="ok">Ok</button>

	</div>
</div>