.menu__list {
  display: flex;
}

.menu__list-item:not(:last-child) {
  margin-right: 40px;
}

.menu__button {
  font-size: 20px;
  text-transform: capitalize;
  color: #48555b;
  padding: 10px 25px;
}

.menu__button--active:hover {
  color: #00a4e5;
  transition-duration: 0.5s;
  cursor: pointer;
}

li {
  list-style-type: none;
}
