.navigation {
	position: sticky;
	z-index: 1;
	width: 1400px;
	height: 70px;
	left: 0px;
	top: 0px;
	background: #000000;
}

.navigation-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	position: absolute;
	width: 489px;
	height: 20px;
	left: 809px;
	top: 5px;
	color: white;
	list-style-type: none;
}

.navigation-link-item {
	margin-left: 20px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	color: white;
}
