.userData {
  width: 800px;
  margin: 20px auto;
  border: solid 2px black;
  padding: 40px 100px;
}

.singleComment {
  margin: 20px 100px;
  background-color: rgb(240, 240, 135);
  border: solid 2px black;
}

.singleComment > p {
  margin: 10px 40px;
}

.userButton {
  margin: 20px 100px;
}
