.about {
  margin: 57px 0 120px;
}

.about__header {
  margin-bottom: 50px;
}
.about__title {
  text-align: center;
  margin-bottom: 10px;
}
.titile {
  font-family: "Open Sans", sans-serif;
  color: rgba(72, 85, 91, 1);
  font-size: 18px;
  letter-spacing: 2.30625px;
}

.about__underline {
  margin: 0 auto;
}

.underline-blue {
  background-color: rgba(0, 164, 229, 1);
  width: 50px;
  height: 2px;
  border: none;
}

.about__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.about__box-left {
  max-width: 405px;
}

.about__text {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.1875px;
  color: #48555b;
}

.about__text-blue {
  color: #00a4e5;
}

.about__subtext {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
}

.subtext {
  font-family: "Open Sans", sans-serif;
  color: #48555b;
}

.about__box-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.item-about__text {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  color: #ffffff;
  margin: 23px 0 0 10px;
  max-width: 68px;
}

.item-about__column1 {
  background: url(../../images/02.jpg);
  width: 140px;
  height: 224px;
}

.item-about__column2 {
  background: url(../../images/03.jpg);
  width: 140px;
  height: 224px;
}

.item-about__column3 {
  background: url(../../images/04.jpg);
  width: 140px;
  height: 224px;
}
