@import "../components/navigation/nav.scss";
@import "../components/resume/resume.scss";
@import "../components/data/data.scss";
@import "../components/application/applicationJS.scss";
*{
	padding: 0;
	margin: 0;
	border: none;
}

a{
	text-decoration: none;
	
}

