.wrapperList{
    margin: 0 auto;
    width: 850px;
}


.noteItem{
    position: relative;
    font-size: 25px;
    border: 1px solid rgba(0,0,0,875);
    border-radius: 3px;
    width: 700px;
    margin-top: 55px;
    word-wrap: break-word;
    text-align: center;
    block-size: auto;


}

.buttonDel {
    position: absolute;
    bottom: -35px;
    right: 210px;
    cursor: pointer;
    border-radius: 3px;
    height: 30px;
    width: 120px;
    font-size: 14px;
}

.buttonEdit{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    height: 30px;
    left: 210px;
    bottom: -35px;
}

