* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fortest {
	background: #454545;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

body {
	width: 100%;
	height: 100vh;
	padding: 10px;
	background: #292929;
}
.content-in-progr {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-in-progr__header {
	background: #71441b;
	width: 400px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
	color: #fff;
}

.content-in-progr__wrapper {
	display: block;
	background: #454545;
	width: 400px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.content-in-progr__btn-wraper {
	display: flex;
	justify-content: space-between;
}

.content-in-progr__btn {
	width: 45px;
	height: 45px;
	border: none;
	color: #fff;
	font-size: 21px;
	outline: none;
	background: #363636;
	cursor: pointer;
	border-radius: 3px;
	opacity: 0.6;
	transition: all 0.3s ease;
}

.content-in-progr__btn--clearall {
	width: 50px;
	height: 45px;
	border: none;
	color: #fff;
	font-size: 15px;
	outline: none;
	background: #363636;
	cursor: pointer;
	border-radius: 3px;
	opacity: 0.6;
	transition: all 0.3s ease;
}

.content-in-progr__todolist li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	height: 45px;
	line-height: 45px;
	margin-bottom: 8px;
	background: #363636;
	border-radius: 3px;
	padding: 0 15px;
	cursor: pointer;
	overflow: hidden;
}

.fa-trash-alt,
.fa-check-double {
	display: none;
}

li:hover i {
	display: block;
}

li,
button {
	cursor: pointer;
}

.alert {
	margin: auto;
	background-color: rgb(68, 99, 99);
	width: 200px;
	height: 70px;
	text-align: center;
	border: 7px solid rgb(57, 57, 99);
	border-radius: 7px;
}

.alert2 {
	margin: auto;
	background-color: rgb(68, 99, 99);
	width: 200px;
	height: 70px;
	text-align: center;
	border: 7px solid rgb(57, 57, 99);
	border-radius: 7px;
}

#no {
	background-color: green;
	color: white;
}

#yes {
	background-color: red;
	color: white;
}

.hidden {
	display: none;
}

.counter {
	font-size: 20px;
}
