#order-view-wrapper {
  width: 400px;
  height: 400px;
  background-color: #ffce00;
  float: left;
  text-align: center;
}

#order-texthead {
  margin: 40px 40px;
}

#order-view-list {
  height: 200px;
}

#price {
  margin: 20px 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}
