#PopUp {
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 0 0 10px 10px #cf0883;
    display: none;
    background-color: #ffe473;
    position: fixed;
    top: 15%; 
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    text-align: center;
  }
  
  .PopUpShow {
    display: block;
  }
  
  #popup-list {
    text-align: left;
    margin: 20%;
    height: 100px;
  }