.work {
  background-image: url("../../../src/images/work-bg.jpg");
  padding: 12rem 0 23rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.work__title {
  margin: 0 auto 3.5rem;
  max-width: 350px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.6rem;
  letter-spacing: 0.15px;
  color: var(--river-bed);
}

.work__inner {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .work {
    padding: 6rem 0 8rem;
  }
}

@media screen and (max-width: 600px) {
  .work {
    padding: 3rem 0 4rem;
  }
}
