@import "~normalize.css";
@import "./colors.css";
@import "../components/tasklist/tasklist.css";


body {
    background-color: var(--deep-blue);
    width: 100%;
    height: 100vh;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 50px;
    color: #FFFFFF;
}

.flex-container {
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.white-font {
    color: #FFFFFF;
}


.buttons_container {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.button {
    width: 300px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    color: var(--deep-blue);
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.button-green {
    background-color: var(--light);
}
.button:hover {
    background-color: var(--light-blue);
}

