#calendar {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendar thead tr:last-child {
  font-size: small;
  color: #555;
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: #323232;
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar tbody td {
  color: #2c567a;
}
#calendar tbody td.today {
  background: #dc0000;
  color: #fff;
}
#calendar tbody td:nth-child(n + 6),
#calendar .holiday {
  color: #e78c5c;
}
