#root {
  margin: 0 auto;
  max-width: 1000px;
  border: 1px solid black;
  // min-height: 1000px;
  font-size: 25px;

}
.avatar_img {
  width: 400px;
  height: 400px;
  margin: 10px;
}
.info {
  display: flex;
  justify-content: center;
  >* {
    flex-basis: 50%;
  }
}
