html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.header_name {
  font-size: 30px;
}

.btn_get_pokemons {
  margin: auto 0;
}

.list_pokemons {
  width: 80%;
  top: 130px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-shrink: 1;
  flex-basis: 30%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.info_pokemon {
  display: flex;
  flex-direction: column;

  background-color: rgb(233, 229, 229);
  width: 10%;
  min-width: 110px;
  margin: 10px;
  padding: 10px;
  list-style: none;
}

.link {
  color: black;
  text-decoration: none;
}

.detailed_info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(233, 229, 229);
  padding: 10px;
  /* display: flex; */
}

.foto_pokemon {
  position: relative;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.btn_back {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 110%;
}

.name_pokemon {
  text-align: center;
}

.input_search {
  position: absolute;
  right: 13%;
}
