@import "~normalize.css";
@import "fonts.scss";

body {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
	/* background-image: url("../assets/main-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover; */
}

.navigation {
	display: flex;
	justify-content: space-around;
	font-family: "My Custom font";
	margin-top: 40px;
	&__link {
		font-size: 33px;
		color: lightseagreen;
	}
}

a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.25em;
	display: inline-block;
	padding: 15px;
	position: relative;
}
a:hover::after {
	width: 100%;
	right: 0;
}
a::after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 4px;
	right: 0;
	position: absolute;
	background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
	transition: width 0.5s ease 0s, right 0.5s ease 0s;
	width: 0;
}
