.header1 {
	width: 1400px;
	height: 601px;
	background-image: url(./Images/city.png);
	display: flex;
	flex-direction: column;
}
.header-hr {
	position: absolute;
	width: 64px;
	height: 0px;
	left: 110px;
	top: 341px;
	border: 1px solid #ffffff;
}

.header-axit {
	position: absolute;
	width: 129px;
	height: 70px;
	left: 110px;
	top: 108px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 70px;
	color: #ffffff;
}

.lorem-text {
	position: absolute;
	width: 282px;
	height: 38px;
	left: 110px;
	top: 380px;
	font-family: Raleway;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.8);
}

.modern-axure {
	position: absolute;
	width: 544px;
	height: 99px;
	left: 110px;
	top: 210px;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}

.semi-button {
	position: absolute;
	width: 135px;
	height: 42px;
	left: 110px;
	top: 457px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 8px;
	width: 80%;
	max-width: 200px;
	background: #fff;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 0.3s ease-out;
}

.form-free-trial {
	position: absolute;
	width: 370px;
	height: 370px;
	left: 919px;
	top: 169px;
	background: #ffffff;
	border-radius: 8px;
}

.guruweba-example-form {
	width: 290px;
	margin: 25px;
	border: none;
}

.guruweba-example-caption {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 30px;
	justify-content: center;
}

.guruweba-example-form {
	margin-top: 10px;
	font-weight: bold;
}

.guruweba-example-form input {
	width: 100%;
	margin: 12px 5px;
	padding: 5px 15px;
	border: none;
}

input:invalid {
	border: 2px dashed red;
}

input:valid {
	border: 2px solid black;
}

:valid + span.validation {
	display: none;
}

.form-hr {
	width: 241px;
	height: 0px;
	left: 110px;
	top: 341px;
	bottom: 20px;
	border: 1px solid #bdbdbd;
}

.form-str-name {
	margin-left: 26px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
}

.start-button {
	background: #ec7979;
	border-radius: 0px 2px 7px 9px;
	width: 370px !important;
	padding-bottom: 20px !important;
	margin: 5px 0px 0px 0px !important;
	position: relative;
	right: 25px;
	cursor: pointer;
}
